<div *ngIf="transactionsLoaded && account !== undefined">
  <div class="account-container">
    <p-card>
      <div class="account-information">
        <div class="account-name">{{ account.name }}</div>
        <!-- <div class="account-value">{{ account.balance | formatDollar }}</div> -->
        <div class="account-value">{{ 33333 | formatDollar }}</div>
      </div>
    </p-card>
  </div>
  <div class="transactions-header">
    <div>Recent Transactions</div>
  </div>
  <div *ngFor="let transaction of transactions">
    <div
      class="transaction-card"
      (click)="navigateToTransaction(transaction.id)"
    >
      <div class="transaction-left">
        <p-avatar
          class="transaction-avatar"
          size="large"
          [icon]="assignIcon(transaction.category)"
          shape="circle"
          [style]="assignIconColor(transaction.category)"
        />
        <div>
          <strong>{{ transaction.payee }}</strong>
          <p>{{ transaction["transacted_at"] | etDate }}</p>
        </div>
      </div>
      <span>{{ transaction.amount | formatDollar }}</span>
    </div>
  </div>
</div>

<div *ngIf="!transactionsLoaded || !account" class="spinner-container">
  <p-progressSpinner ariaLabel="loading" />
</div>
<div
  class="no-transactions"
  *ngIf="transactionsLoaded && transactions?.length === 0"
>
  <p>No transactions available for this account.</p>
</div>
