<div *ngIf="accountsLoaded">
  <!-- this works but hiding for testing -->
  <div class="dashboard-header-container">
    <div class="dashboard-header">
      <div>{{ userName }}'s Dashboard</div>
      <p-button
        (click)="refreshData()"
        icon="fa-solid fa-refresh"
        [rounded]="true"
        pTooltip="Refresh Data"
      ></p-button>
    </div>
  </div>
  <div class="netWorth">
    <p-panel class="netWorth" header="Net Worth">
      <p [ngClass]="netWorth > 0 ? 'green' : 'red'">
        {{ netWorth | formatDollar }}
        <!-- {{ 100000 | formatDollar }} -->
      </p>
    </p-panel>
  </div>
  <!-- <div class="account-list">
    <div class="account-card" *ngFor="let account of accountList">
      <p-card (click)="navigateToAccount(account.id)">
        <p class="account-title">{{ account.name }}</p>
        <div class="account-information">
          <p [ngClass]="convertToNumber(account.balance) > 0 ? 'green' : 'red'">
            {{ account.balance | formatDollar }}
             {{ 33333 | formatDollar }}
          </p>
          <p-tag
            [severity]="decideTagColor(account['type'])"
            [value]="account['type']"
          />
        </div>
      </p-card>
    </div>
  </div> -->
  <div class="account-list" *ngIf="groupedAccounts.length">
    <div class="account-card" *ngFor="let group of groupedAccounts">
      <p-card (click)="navigateToAccount(group.type)">
        <!-- ^^ (click)="navigateToAccount(account.id)" -->
        <p class="account-title">{{ group.type }}</p>
        <div class="account-information">
          <p [ngClass]="group.total > 0 ? 'green' : 'red'">
            {{ group.total | formatDollar }}
            <!-- {{ 33333 | formatDollar }} -->
          </p>
        </div>
      </p-card>
    </div>
  </div>
</div>
<div *ngIf="!accountsLoaded && !serverError" class="spinner-container">
  <p-progressSpinner ariaLabel="loading" />
</div>
<div *ngIf="!accountsLoaded && serverError" class="spinner-container">
  <p-progressSpinner ariaLabel="loading" />
</div>
