<div *ngIf="accountsLoaded">
  <div class="dashboard-header-container">
    <div class="dashboard-header">
      <div>{{ userName }}'s Dashboard</div>
      <p-button
        (click)="refreshData()"
        icon="fa-solid fa-refresh"
        [rounded]="true"
        pTooltip="Refresh Data"
      ></p-button>
    </div>
  </div>
  <div class="netWorth">
    <p-panel class="netWorth" header="Net Worth">
      <p [ngClass]="netWorth > 0 ? 'green' : 'red'">
        {{ netWorth | formatDollar }}
        <!-- {{ 100000 | formatDollar }} -->
      </p>
    </p-panel>
  </div>
  <h3 class="m-1rem">Monthly Budget</h3>
  <app-budget-widget (click)="navigateToSpending()"></app-budget-widget>
  <h3 class="m-1rem">Accounts</h3>
  <div class="m-1rem account-group-container" *ngIf="groupedAccounts.length">
    <div class="account-card" *ngFor="let group of groupedAccounts">
      <p-card (click)="navigateToAccountGroup(group.type)">
        <div class="account-group">
          <div class="account-avatar-title">
            <p-avatar
              class="transaction-avatar"
              size="large"
              [icon]="assignIcon(group.type)"
              shape="circle"
              [style]="assignIconColor(group.type)"
            />
            <p class="account-title">{{ group.type }}</p>
          </div>
          <div class="account-information">
            <p [ngClass]="group.total > 0 ? 'green' : 'red'">
              {{ group.total | formatDollar }}
              <!-- {{ 50000 | formatDollar }} -->
            </p>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
<div *ngIf="!accountsLoaded && !serverError" class="spinner-container">
  <p-progressSpinner ariaLabel="loading" />
</div>
<div *ngIf="!accountsLoaded && serverError" class="spinner-container">
  <p-progressSpinner ariaLabel="loading" />
</div>
